<header>
  <div class="row">
    <div class="col-md-8">
      <h3>Locations</h3><br>
      <small style="position: relative; top: -5px; margin-bottom: 1.5rem;">Find all locations created by you here</small><br>
      <button mat-raised-button color="primary" routerLink="add" *ngIf="idTokenResult && idTokenResult.claims.userType === 1">+ Add location</button>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Find locations using name and address">
        <mat-hint>Find locations using their name and address</mat-hint>
      </mat-form-field>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-md-12">
    <table mat-table [dataSource]="locations" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="verified">
        <th mat-header-cell *matHeaderCellDef>Approved</th>
        <td mat-cell *matCellDef="let element">
          <span class="badge" [class.badge-success]="element.verified" [class.badge-danger]="!element.verified">{{element.verified ? 'Approved' : 'Pending Approval'}}</span>
        </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button color="primary">View</button>
          <button mat-stroked-button color="warn">Remove</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>