<div class="container-fluid">
  <div class="row" style="height: 100vh;">
    <div class="col-md-4 offset-md-1">
      <div>
        <div style="margin-top: 5vh;">
          <p>
            <!-- <img src="../../../assets/garbage.svg" width="50px" alt=""> -->
          </p>
          <p class="bindoo-subtitle">We are almost there!</p>
          <h1 class="bindoo-heading" style="font-size: 48px; "><span style="color: #673ab7;">bin</span><span
              style="color: #444;">doo</span></h1>
          <small style="color: #aaa; font-size: 14px;">Step 3 / 3</small>
          <p style="font-weight: 500;">Payment Information</p>
        
          <div class="card" style="margin-top: 20px;">
            <div class="card__front card__part">
              <img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
              <img class="card__front-logo card__logo"
                [src]="cardTypeImgUrl">
              <p class="card_numer">XXXX XXXX XXXX XXXX</p>
              <div class="card__space-75">
                <span class="card__label">Card holder</span>
                <p class="card__info">CARD HOLDERS NAME</p>
              </div>
              <div class="card__space-25">
                <span class="card__label">Expires</span>
                <p class="card__info">MM/YY</p>
              </div>
            </div>
          
            <div class="card__back card__part">
              <div class="card__black-line"></div>
              <div class="card__back-content">
                <div class="card__secret">
                  <p class="card__secret--last">XXX</p>
                </div>
                <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                <img class="card__back-logo card__logo"
                  [src]="cardTypeImgUrl">
          
              </div>
            </div>
          
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card-info-holder">
                <div id="card-info" #cardInfo></div> 
              </div>
              <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button mat-flat-button color="primary" style="float: right;" (click)="addPaymentMethod()">Add Payment Method</button>
            </div>
          </div>
        
        
        </div>
      </div>
    </div>
    <div class="col-md-6 offset-md-1">
      <div class="hidden-xs" class="image-container"></div>
    </div>
  </div>
</div>
