<div class="wrapper">
  <div class="wrapper-profile">
    <img src="/assets/icons/icon-user-avatar.svg" alt="Profile picture avata" class="profile-avatar">
    <div class="wrapper-text">
      <h5 class="name">James Charles</h5>
      <p class="user-type">Citizen</p>
    </div>
  </div>

  <div class="wrapper-menu">
    <ul>
      <a routerLink="locations">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-location.svg" alt="Location icon">
          <p>My Locations</p>
        </li>
      </a>
      <a routerLink="bins">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-bin.svg" alt="Bin icon">
          <p>My Bins</p>
        </li>
      </a>

      <a routerLink="store">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-store.svg" alt="Store icon">
          <p>Store</p>
        </li>
      </a>

      <!-- <a routerLink="vehicles">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-vehicle.svg" alt="Vehicle icon">
          <p>Vehicles</p>
        </li>
      </a> -->

      <a routerLink="vehicles">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-invoices.svg" alt="Vehicle icon">
          <p>Invoices</p>
        </li>
      </a>

      <!-- <a routerLink="users">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-user.svg" alt="User icon">
          <p>Users</p>
        </li>
      </a> -->

      <a (click)="logout()">
        <li>
          <img src="/assets/icons/icon-logout.svg" alt="Logout icon">
          <p>Log out</p>
        </li>
      </a>
    </ul>
  </div>
</div>