<div class="wrapper">
  <div class="wrapper-profile">
    <img src="/assets/icons/icon-user-avatar.svg" alt="Profile picture avata" class="profile-avatar">
    <div class="wrapper-text">
      <h5 class="name" *ngIf="currentUser">{{currentUser.displayName}}</h5>
      <p class="user-type" *ngIf="tokenResult">{{getUserType(tokenResult.claims.userType)}}</p>
    </div>
  </div>

  <!-- <hr> -->

  <!-- <div class="row">
    <div class="col-md-12 text-center">
      <p style="color: #ccc; font-size: 16px; font-weight: 500;">Organization</p>
      <small>Colombo Municipal Council</small>
    </div>
  </div> -->

  <div class="wrapper-menu" *ngIf="tokenResult">
    <ul>

      <a routerLink="analytics" *ngIf="tokenResult.claims.userType !== 4">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-dashboard.svg" alt="Location icon">
          <p>Analytics</p>
        </li>
      </a>

      <a routerLink="organizations" *ngIf="tokenResult.claims.userType === 3">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-company.svg" alt="Location icon">
          <p>Organizations</p>
        </li>
      </a>

      <a routerLink="locations">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-location.svg" alt="Location icon">
          <p>Locations</p>
        </li>
      </a>

      <a routerLink="bins" *ngIf="tokenResult.claims.userType !== 4">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-bin.svg" alt="Bin icon">
          <p>Bins</p>
        </li>
      </a>

      <!-- <a routerLink="store">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-store.svg" alt="Store icon">
          <p>Store</p>
        </li>
      </a> -->

      <a routerLink="store">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-store.svg" alt="Store icon">
          <p>Orders</p>
        </li>
      </a>

      <a routerLink="vehicles" *ngIf="tokenResult.claims.userType !== 4 && tokenResult.claims.userType !== 1">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-vehicle.svg" alt="Vehicle icon">
          <p>Vehicles</p>
        </li>
      </a>

      <a routerLink="invoices">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-invoices.svg" alt="Vehicle icon">
          <p>Invoices</p>
        </li>
      </a>

      <!-- <a routerLink="users">
        <li routerLinkActive="is-active">
          <img src="/assets/icons/icon-user.svg" alt="User icon">
          <p>Users</p>
        </li>
      </a> -->

      <a (click)="logout()">
        <li>
          <img src="/assets/icons/icon-logout.svg" alt="Logout icon">
          <p>Log out</p>
        </li>
      </a>
    </ul>
  </div>
</div>