<header>
  <div class="row">
    <div class="col-md-6">
      <h3>Bins > Add bin</h3>
    </div>
  </div>
</header>

<mat-card>
  <form>
    <div class="row">
      <div class="col-md-12">
        <p class="form-title">Bin details</p>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" name="name" [(ngModel)]="name" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" name="description" [(ngModel)]="description" required>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Capacity</mat-label>
          <input matInput placeholder="Capacity" name="capacity" [(ngModel)]="capacity" required>
        </mat-form-field>
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select [(ngModel)]="locationId" name="location">
            <mat-option *ngFor="let l of locations" [value]="l.id">
              {{l.name}} - {{l.city}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button mat-raised-button color="primary" type="submit" (click)="save()">Save bin</button>
      </div>
    </div>
  </form>
</mat-card>