<div style="margin-top: 20vh;">
  <p>
    <!-- <img src="../../../assets/garbage.svg" width="50px" alt=""> -->
  </p>
  <!-- <p class="bindoo-subtitle">Welcome to</p> -->
  <h1 class="bindoo-heading" style="font-size: 48px; "><span style="color: #673ab7;">bin</span><span
      style="color: #444;">doo</span></h1>

  <form name="loginForm">

      <p>
        <mat-form-field appearance="outline" class="bindoo-full-width">
          <mat-label>Username / Email</mat-label>
          <input matInput placeholder="abc@bindoo.com" [formControl]="EmailFormControl"
            name="email"
            [errorStateMatcher]="Matcher">
          <mat-icon matSuffix *ngIf="!(EmailFormControl.hasError('required') || EmailFormControl.hasError('email'))">
            sentiment_very_satisfied
          </mat-icon>
          <mat-icon matSuffix *ngIf="EmailFormControl.hasError('required') || EmailFormControl.hasError('email')">
            sentiment_very_dissatisfied
          </mat-icon>
          <!-- <mat-hint>Who are you?</mat-hint> -->
          <mat-error *ngIf="EmailFormControl.hasError('required') || EmailFormControl.hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="EmailFormControl.hasError('incorrect')">
            User not found for provided email! Please check again.
          </mat-error>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field appearance="outline" class="bindoo-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" [formControl]="PasswordFormControl" 
            type="password" name="password">
          <mat-icon matSuffix *ngIf="!PasswordFormControl.hasError('incorrect')">
            sentiment_very_satisfied
          </mat-icon>
          <mat-icon matSuffix *ngIf="PasswordFormControl.hasError('incorrect')">
            sentiment_very_dissatisfied
          </mat-icon>
          <mat-error *ngIf="PasswordFormControl.hasError('incorrect')">
            Incorrect password! Please check again.
          </mat-error>
          <mat-hint>
            <a href="#">Forgot Password?</a>
          </mat-hint>
        </mat-form-field>
      </p>
      
      <p>
        <button mat-raised-button class="bindoo-full-width" [class.spinner]="getLoadingState" [disabled]="getLoadingState" color="primary" style="height: 50px;"
          (click)="login()">Login</button>
      </p>

  </form>
  <div style="text-align: center; margin-bottom: 15vh; font-size: 16px;">
    <small class="bindoo-full-width">
      Dont have an account? <a [routerLink]="['/signup']" >Signup</a>
    </small>
  </div>
</div>

<small style="color: #666;">

  <b style="font-size: 18px;"><span style="color: #673ab7;">bin</span><span style="color: #444;">doo</span></b> makes it
  easy for you to manage your accounts or view local information on the go.

  <br><br>Getting started is easy. Use your
  address to access pickup and holiday schedules or local community information. You can also log in or register to
  manage
  your account, billing, and services.

</small>