<div style="margin-top: 15vh;" *ngIf="!Validating">
  <p>
    <!-- <img src="../../../assets/garbage.svg" width="50px" alt=""> -->
  </p>
  <p class="bindoo-subtitle">We are almost there!</p>
  <h1 class="bindoo-heading" style="font-size: 48px; "><span style="color: #673ab7;">bin</span><span
      style="color: #444;">doo</span></h1>
  <small style="color: #aaa; font-size: 14px;">Step 2 / 3</small>
  <p style="font-weight: 500;">Email Verification</p>

  <p>We have sent you a verification email. Please check your inbox!</p>

  <button mat-raised-button color="primary" (click)="resendEmail()">Resend Email</button>

  
</div>