h3 {
    color: #673AB6;
    font-weight: 600;
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 20px;
}

header {
    margin-bottom: 15px;
}

mat-form-field {
    width: 100%;
}

.filters-wrapper {
    height: auto;
    background-color: white;
    padding: 20px;
    width: 110%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.subsection {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500px;
    color: #ccc;
}

.item-wrapper {
    height: auto;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.01);
    background-color: white;
    margin-bottom: 1.5rem;
}

.item-wrapper .item-image {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    height: 200px;
}

.item-wrapper .item-image img {
    width: 100%;
    position: relative;
    top: -50%;
}

.item-wrapper .item-description {
    padding: 10px;
}

.item-wrapper .item-description p {
    margin-bottom: 0;
}

.item-wrapper .item-description .item-name {
    font-size: 16px;
    font-weight: 500;
}

.item-wrapper .item-description .item-subtitle {
    font-size: 14px;
    font-weight: 100;
    color: #bbb;
}

.item-wrapper .item-description .item-price {
    color: rgb(38, 0, 99);
    margin-top: 1rem;
}

.item-wrapper button {
    width: 100%;
    margin-top: 0.5rem;
}

.filters-wrapper small {
    color: #ccc;
}