/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* * {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 13px;
} */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f9fbfd;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

button:focus {
  outline: 0;
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.bindoo-full-width {
  width: 100%;
}

.bindoo-subtitle {
  margin-bottom: 0;
  color: #666;
}

.bindoo-heading {
  margin-top: 0;
}

/* Buttons */
button {
  margin-right: 10px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}