<mat-toolbar>
  <img src="../../../assets/garbage.svg" width="28px" alt="">&nbsp;&nbsp;
  <span>
    <span style="color: #673ab7;">bin</span><span style="color: #444;">doo</span>
  </span>
</mat-toolbar>

<div class="container">
  <p style="font-size: 20px; font-weight: 500; color: #555;">Locations</p>

  <div class="row">
    <div class="col-md-3">
      <mat-card class="example-card">
        <img mat-card-image src="https://image.freepik.com/free-vector/street-map-with-pin-routes_23-2147622544.jpg">
        <mat-card-content>

          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" selected>Approved</mat-chip>
            <!-- <mat-chip color="accent" selected>Pending Approval</mat-chip> -->
          </mat-chip-list>

          <h3 style="margin-bottom: 10px;">Home</h3> 
          <small style="color: #aaa">Postal Address</small>
          <p style="margin-top: 5px;">Cecilia Chapman
            711-2880 Nulla St.
            Mankato Mississippi 96522</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">View Bins</button>
          <button mat-button color="warn" style="float: right;">
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <img mat-card-image src="https://image.freepik.com/free-vector/street-map-with-pin-routes_23-2147622544.jpg">
        <mat-card-content>
    
          <mat-chip-list aria-label="Fish selection">
            <!-- <mat-chip color="primary" selected>Approved</mat-chip> -->
            <mat-chip color="accent" selected>Pending Approval</mat-chip>
          </mat-chip-list>
    
          <h3 style="margin-bottom: 10px;">Home</h3>
          <small style="color: #aaa">Postal Address</small>
          <p style="margin-top: 5px;">Cecilia Chapman
            711-2880 Nulla St.
            Mankato Mississippi 96522</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" disabled>View Bins</button>
          <button mat-button color="warn" style="float: right;">
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <img mat-card-image src="https://image.freepik.com/free-vector/street-map-with-pin-routes_23-2147622544.jpg">
        <mat-card-content>
    
          <mat-chip-list aria-label="Fish selection">
            <!-- <mat-chip color="primary" selected>Approved</mat-chip> -->
            <mat-chip color="accent" selected>Pending Approval</mat-chip>
          </mat-chip-list>
    
          <h3 style="margin-bottom: 10px;">Home</h3>
          <small style="color: #aaa">Postal Address</small>
          <p style="margin-top: 5px;">Cecilia Chapman
            711-2880 Nulla St.
            Mankato Mississippi 96522</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" disabled>View Bins</button>
          <button mat-button color="warn" style="float: right;">
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    
  </div>
</div>